# Do not steal my Development Ethereum!!!!
# – it takes a long time to get it
RPC_URL=wss://eth-sepolia.g.alchemy.com/v2/
PUBLIC_KEY=0x6CEb0bF1f28ca4165d5C0A04f61DC733987eD6ad
PRIVATE_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MESSAGE_COUNT=100
MESSAGE_SIZE=512
